DATABASE_URL="postgresql://user:supersecret@localhost:5432/foodly?schema=public"
FRONTEND_URL="http://localhost:8000"
BASE_URL="http://localhost:3000"
PORT=3000
GOOGLE_CLIENT_ID="example"
GOOGLE_CLIENT_SECRET="example"
GOOGLE_ANDROID_CLIENT_ID="example"
S3_ENDPOINT="http://s3.localhost.localstack.cloud:4566"
S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="test"
S3_SECRET_ACCESS_KEY="test"
S3_BUCKET="foodly-bucket"